@import url('https://fonts.googleapis.com/css2?family=Public+Sans:wght@300;400;700&display=swap');


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  
  /* colors */

  --darkBlue: hsl(233, 26%, 24%);
  --limeGreen: hsl(136, 65%, 51%);
  --brightCyan: hsl(192, 70%, 51%);
  --grayishBlue: hsl(233, 8%, 62%); /*paragraphs */
  --lightGrayishBlue: hsl(220, 16%, 96%);
  --veryLightGray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);

    /* font weights */
  --fw-regular: 300;
  --fw-semi-bold: 400;
  --fw-bold: 700;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

p {
  font-weight: var(--fw-regular);
  color: var(--grayishBlue);
  line-height: 1.6rem;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap; /* added line */
  border: 0;
}

body{
  height: 100%;
  font-family: 'Public Sans', sans-serif;
  font-size: 18px;

}

/* header */

.header-container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding: 3rem 5rem;
  background-color: var(--white);
}

.request_btn {
  text-decoration: none;
  padding: 1.25em 2.5em;
  font-weight: var(--fw-bold);
  border: none;
  border-radius: 100vmax;
  background-image: linear-gradient( hsl(136, 65%, 51%),hsl(192, 70%, 51%));
  cursor: pointer;
  line-height: 5px;
  color: var(--white);

}

.request_btn:hover {
  opacity: 0.6;
  
}

.nav-list {
  display: flex;
  gap: clamp(1rem, 2vw,1.5rem);
  list-style: none;
  font-weight: var(--fw-semi-bold);
  
}

.nav-list a {
  padding-bottom: 3.8rem;
  text-decoration: none;
  color: var(--grayishBlue);
}

.nav-list a:hover,
.nav-list a:focus {
  color: var(--darkBlue);
  border-bottom: 2rem solid;
  border-image: linear-gradient(0.25turn, hsl(136, 65%, 51%),hsl(192, 70%, 51%));
  border-image-slice: 1; 
  transition: 0.3s ease-out;
}

.mobile-nav-toggle{
  display: none;
}


@media (max-width: 56rem){

  .primary-navigation {
    display: none;
    position: fixed;
    padding: 3rem;
    inset: 7rem 2rem auto;
    background: var(--lightGrayishBlue);
    border-radius: 1rem;
    max-width: 35rem;
    margin-inline: auto;
    z-index: 1;
  }

  .header-container[data-overlay]::before {
    content: "";
    position: fixed;
    inset: 0;
    /* height: 100vh; */
    background-image: linear-gradient(rgb(0 0 0 / 0), rgb(0 0 0 / 0.8));
  }

  .nav-list {
    display: grid;
    gap: 2rem;
    text-align: center;
    font-weight: var(--fw-bold);
  }

  .nav-list a {
    padding-bottom: 1rem;
  }

  .nav-list a:hover,
.nav-list a:focus {
  border-bottom: 0.2rem solid;
}



  .primary-navigation[data-visible] {
    display: block;
    position: fixed;
  }

  .mobile-nav-toggle {
    display: block;
    position: absolute;
    top: 3rem;
    right: 2rem;
    cursor: pointer;
    background: transparent;
    border: 0;
    padding: 0.5em;
  }

  .mobile-nav-toggle .icon-close {
    display: none;
  }
  #request_btn_header {
    display: none;
  }
}

/* details section*/
.details-container {
  position: relative;
  display: grid;
  grid-template-columns: 40% 60%;
  gap: 1rem;
  padding-left: 5rem;
  background-color: var(--veryLightGray);
  justify-content: center;
  height: 640px;
}

.brief-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}


.brief-details h1 {
  font-size: 50px;
  font-weight: var(--fw-regular);
  padding-bottom: 2rem;
  color: var(--darkBlue);
}

.brief-details p {
  padding-bottom: 2rem;
  max-width: 28rem;
}

.mockup {
  position: absolute;
  top: 0;
  right: 0;
  background: url('./images/bg-intro-desktop.svg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: -43px;
  background-position-y: -228px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.mockup-img {
  width: 100%;
  transform: translate(132px,-140px);
}

@media (max-width:76rem) {
  .details-container {
    all: unset;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    background-color: var(--white);
  }
  .brief-details{
    align-items: center;
    padding: 0rem 1.5rem 5rem;
  }
  .brief-details h1{
     font-size: 48px;
     text-align: center;
     margin-top: -40px;
     line-height: 50px;
  }

  .brief-details p {
    text-align: center;
  }

  .mockup{
    all: unset;
    display: flex;
    justify-content: center;
    background: url("/images/bg-intro-mobile.svg");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
  }

  .mockup-img{
    all: unset;
    width: 100%;
    transform: translate(0px,-100px );
  }
}

/* reason section */

.reason-container {
  background-color: var(--lightGrayishBlue);
  padding: 4rem 5rem 6rem 5rem;
}

.leverage {
  display: grid;
  gap: 3rem;
  justify-content: left;
  padding: 3rem 0rem 5rem 0rem;
}

.leverage h1 {
  font-weight: var(--fw-regular);
  font-size: 40px;
  color: var(--darkBlue);
}

.leverage p {
  max-width: 40rem;
}

.reason-cards{
  display: flex;
  gap: 1.5rem;
}

.reason-cards h2 {
  font-weight: var(--fw-regular);
  padding: 2rem 0rem;
  color: var(--darkBlue);
}

.reason-cards p {
  max-width: 20rem;
}

@media (max-width:76rem){
  .reason-container {
    display: flex;
    flex-direction: column;
  }

  .leverage {
    justify-content: center;
    text-align: center;
    padding-bottom: 3rem;
  }

  .reason-cards {
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 1rem;
  }
  .reason-cards div {
    padding-top: 1.5rem;
  }

  .reason-cards p {
    max-width: 25rem;
  }
  
  
  .reason-cards img {
    margin: 0 auto
  }

}

/* articles section */

.articles-container {
  background-color: var(--veryLightGray);
  padding: 4rem 6.5rem 6rem 5rem;
}

.articles-container h1 {
  font-weight: var(--fw-regular);
  font-size: 40px;
  padding: 2rem 0rem 4rem ;
  color: var(--darkBlue);
}

.cards {
  display: flex;
  gap:1.5rem;
}

.cards div {
  background-color: var(--white);
  border-radius: 0.5rem;
  cursor: pointer;
}

.cards img {
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
  min-height: 15rem;
}

.card-info {
  padding: 1rem 2rem;
}

.card-info p {
  padding: 1rem 0rem;
  font-size: 15px;
}

.card-info a {
  text-decoration: none;
  color: var(--darkBlue);
}
.cards div:hover a,
.cards div:focus a{
  color:var(--limeGreen)
}

@media (max-width: 76rem){
  .articles-container {
    all: unset;
    display: block;
    padding:0rem 1.5rem 7rem;
    background-color: var(--veryLightGray);
  }
 .articles-container h1 {
    padding: 7rem 0rem 3rem;
    text-align: center;
  }
 .cards {
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }

  .cards div {
    all: unset;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--white);
  }

  .cards img {
    all: unset;
    width: 100%;
    border-top-left-radius: 0.5rem;
    border-top-right-radius: 0.5rem;
  }
}


/* footer */

footer {
  background-color: var(--darkBlue);
  --logo-color: var(--white);
}

footer ul {
  list-style: none;
}

.footer-container {
  padding: 3rem 6.5rem 0rem 5rem;
  display: flex;
  justify-content: space-between;
}

.social {
  display: flex;
  flex-direction: column;
}

.social-list {
  display: flex;
  gap: 0.5rem;
}

.social-icon {
  width: 1.5rem;
  fill: var(--white);
}

.social-list a:is(:hover, :focus) .social-icon {
  fill: var(--limeGreen);
}

.footer-nav {
  columns: 2;
  gap: 9rem;
}

.footer-nav a {
  color: var(--white);
  text-decoration: none;
  line-height: 2.3rem;
}

.footer-nav a:hover {
  color: var(--limeGreen);
}

.footer3 {
  text-align: right;
}

.footer3 p {
  padding-top: 2rem;
  font-size: 16px;
}


@media (max-width:71rem){
  .footer-container {
    all: unset;
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
  }
  .social {
    margin: 0 auto;
  }

  .footer-logo {
    margin: 0 auto;
  }
  .social-list{
    gap: 1rem;
  }

  .footer-nav {
    all: unset;
    text-align: center;
  }

  .footer3 {
    padding-top: 2rem;
    text-align: center;
  }

  #footerbtn {
    padding: 1.4em 4em;
  }

}